$font-size: 20px;
$line-height: $font-size * 1.7;
$body-font-family: "freight-micro-pro", serif;
$header-font-family: "freight-sans-pro", sans-serif;
$header-font-family-2: "TradeGothicLTCom-BdCn20", sans-serif;
$cta-family: 'Montserrat', sans-serif;
$cta-color: #b3b3b3;
$cat-link-color: #333333;
$header-font-color: #ffffff;
$body-color: #4d4d4d;
$ics-color: #ffc426;
$grey-bg: #f7f7f7;
$grey-bg-2: #f2f2f2;
$grey-border: #ededed;
$mobile-break: 780px;
$smallish-break: 480px;
$max-width: 1250px;
$category-bg: #E8E8E8;
$button-hover: #f8b91b;
$twitter-blue: #55ACEE;
$a-link-color: #e59e00;
$bttn-text-color : #454545;

/* heights for items */
$cat-drop-h: 40px;